@import "./utilies";

#section-1 {
  .programmator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    padding: 7.8rem;
    @include tablet {
      flex-direction: column;
    }
    @include mobile {
      flex-direction: column;
    }
    .info-sx {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @include mobile {
        align-items: center;
      }
      h1 {
        font-size: 3.5rem;
        @include gradient2;
        text-align: left;
        @include tablet {
          font-size: 2.7rem;
        }

        @include mobile {
          font-size: 2rem;
        }
      }
      .row {
        display: flex;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        .fa-square-check {
          color: $checkbox-color;
          margin-right: 10px;
        }
      }
      .info-sx-button {
        display: flex;
        flex-direction: column;
        button {
          @include button2;
          transition: width 2s;
          &:hover {
            width: 300px;
          }
        }
      }
    }
    .info-img {
      img {
        @include tablet {
          width: 250px;
          height: 250px;
        }
        @include mobile {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}
